################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nextplace.Api/bin
/.vs/Nextplace/FileContentIndex
/Nextplace.Sql/obj
/Nextplace.Api/obj
/Nextplace.Sql/Nextplace.Sql.dbmdl
