<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dev-nextplace-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e6bea476-28ec-40f0-a92b-8f96648ba6c6/resourceGroups/Dev/providers/Microsoft.Web/sites/Dev-Nextplace-Functions</ResourceId>
    <UserName>$Dev-Nextplace-Functions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://dev-nextplace-functions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>